    
    <div class="footer-container">

        <div class="contact-row">
            <div class="img"><img src="assets/img/footer-support.png" alt="" width=""></div>
            <div class="texts">
                <p>Have questions or need assistance? Reach out to us today for personalized travel solutions and expert support."</p>
                
                <div class="button-container">
                    <a href="contactus.html" class="expand-button">
                        <span class="circle"></span>
                        <span class="button-text">Contact Us <span class="iconify ms-2" data-icon="guidance:left-arrow" style="font-size: 2rem;"></span></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row gy-5 row-wrapper">
            
           <div class="col-lg-6 row">
                <div class="col-md-6 about-us">
                    <div class="brand-logo">
                        <a href="/"><img src="assets/img/brand-logo.png" alt=""></a>
                    </div>
                    <div class="about-text my-4">
                        <p>Welcome to Express Travel & Tour, a trusted travel and tour company dedicated to creating unforgettable travel experiences..</p>
                    </div>
                </div>
                <div class="col-md-6 quick-link ps-5">
                    <h4>Quick Links</h4>
                    <p><a href="/">Home</a></p>
                    <p><a href="about.html">About Us</a></p>
                    <p><a href="gallery.html">Gallery</a></p>
                    <!-- <p><a href="#ourprogram">BTA</a></p> -->
                    <p><a href="contactus.html">Contact Us</a></p>
                </div>
           </div>
            <div class="col-lg-6 row">
                <div class="col-md-6 col-lg-5 admissions">
                    <h4>Services</h4>
                    <p><a href="service.html">Services</a></p>
                    <p><a href="index.html#faq">FAQ</a></p>
                    <p><a href="index.html#testimonial">Testimonial</a></p>
                </div>
                <div class="col-md-6 col-lg-7 reach-us">
                    <h4>Reach us</h4>
                    <p><a href="tel: +12148021364"><i class="fa-solid fa-phone me-3"></i>+12148021364</a></p>
                    <p><a href="mailto: registrar@fpno.edu.ng"><i class="fa-solid fa-envelope me-3"></i>expresstravelandtour0@gmail.com</a></p>
                    <p><a class="d-flex align-items-center"><i class="fa-solid fa-location-dot me-3"></i>RXP2+9VW Conway, South Carolina, USA</a></p>
                    
                    <div class="search-box">
                        <input type="text" placeholder="Enter Email">
                        <button class="hoverme">Subscribe</button>

                        <style>
                            .hoverme:hover {
                                background-color: #D1634A !important;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright d-flex justify-content-between px-3">
            <p>2019 Copyright Express Travel & Tour. All Rights Reserved</p>
            <div><img src="assets/img/payment-cards.png" alt=""></div>
        </div>
    </div>
